*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        
}
html,
body{
    /* background-color: #9f9696; */
    color: #555;
    font-family: 'Kumbh Sans', sans-serif;
    line-height: 25px;
    text-rendering: optimizeLegibility;
    margin: 0 10px 0 10px;
   
}
.row{
    width: auto;
    margin: 0 auto ;
    
}
.main-nav-1{
    margin-top: -40px;
    background-color:#c2c2a3;
    position: fixed;
    margin-left: -20px;
    width: 100%;
    
}

.logo{
    float: left;
    width: 4%;
    text-align: center;
    margin-top: 40px;
 
}
.main-nav{
    float: right;
    list-style: none;
     margin-top: 40px; 
   
     
}
.right-nav a{
    float: right;
    text-decoration: none;
    margin-right: 20px;
    color: #000;
    text-transform: capitalize;
    font-size: 120%;
    margin-top: 40px;
    
    
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
    padding-right: 50px;
}
.main-nav li a:link,
.main-nav li a:visited{
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 120%;
}
 .main-nav li{
      padding: 10px;
      text-align: center;
      text-align: center;
    }
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;
    padding-bottom: 10px;
}
p.bitcoin{
    font-size: 40px;
    font-weight: bold;  
    margin-top: 90px;;
}
.image-one{
    height: 100%;
    width: 100%;
}
.biticon{
    width: 50px;
    height: 50px;
    margin-bottom: -10px;
}

.bitcoin-1{
    font-size: 40px;
    font-weight: 800;
    border-bottom: 4px solid #e67e22;
}

.btn-1{
    background-color: #e67e22;
    color: #fff;
    width: 130px;
    margin-top: 50px;  
    text-align: center; 
    padding: 5px;
    margin-bottom: 10px;
    
}
.btn-1 a{
    text-decoration: none;
    color: #fff;
    font-size: 20px; 
}
.cost{
    float: right;
    font-size: 15px;
    font-weight: 100;  
}
.cost-figure{
    margin-top: 20px;
    font-weight: 600;
}

.section-two-bitcoin{
    border-bottom: 2px solid #e67e22;
    width: 90px;
    margin-left: 15%;
}

.fraud{
    background-color: #ff6600;
    height: 300px;
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.fraud-page2{
    margin-top: 70px;
}
.transactions{
    margin-left: 160px;
    
}
.peer-to-peer{
    margin-left: 70px;
    
}

.section-two,
.section-three{
    background-color: #eff5f5;
}

.footer{
    background-color: #555;
    color: #fff;
    text-align: center;
    padding-bottom: 50px; 
}

.footer-row{
    padding-top:50px;
    background-color: #555;
}
.peer{
    margin-left: 30px; 
    margin-top: 60px;
}
.withdraw{
    margin-top: 60px;
}
.peer-01{
    opacity: 0.3;
    margin-right: 20px;
    transform: rotate(-90deg);
    position: absolute;
    font-size: 40px;
    
    
}
.number{
    margin-right: 20px;
    transform: rotate(-90deg);
    position: absolute;
    font-size: 40px;
    margin-top: 20px;
}

.barline-01{
   border-left: 2px solid #e67e22;
   height: 700px;
   margin-left: 90px; 
   padding-bottom: 20px;
   padding-top: 20px;
  
}
.dismiss{
    background-color: #e67e22;
    border: none;
    color: #fff;
    height: 30px;
    width: 80px;
    margin-top: 5px;
    margin-left: 40px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}
input{
    width: 350px;
    height: 30px;
    background-color:#fff;
    color: #000;
    text-align: center;
    border-color: #e67e22;
}
.withdraw-03{
    opacity: 0.3;
    margin-right: 20px;
    transform: rotate(-90deg);
    position: absolute;
    font-size: 40px;
}
.feature{
    margin-left: 15%;
}

.fraud-page1{
    margin-top: -5px;
    margin-left: 20px;
}

.instant{
    margin-left: 50px;
}
.withdraw-page{
    margin-left: 140px;

}
.barline-fraud{
   border-left: 2px solid #fff;
   margin-left: -150px;
   padding-bottom: 60px;
}
.section-three{
   padding-top: 30px;
}